header {
    border-bottom: 3px solid $secondColor;

    a,
    a>img {
        width: 80% !important;
    }

    div:nth-child(3) {
        p {
            font-size: 16px;
        }
        h2 {
            font-weight: 400;
            font-size: 20px;
        }
    }

    a {
        display: flex;
        align-items: center;
    }
}