main {

    .test-results-container {

        .false-counter.animate,
        .true-counter.animate {
            animation: answer 500ms alternate;
        }

        .col-lg-6 {
            h2 {
                font-size: 100px;
            }

            .bg-danger {
                background-color: rgb(238, 0, 0) !important;
            }

            .bg-success {
                background-color: rgb(0, 161, 0) !important;
            }
        }

        .col-lg-6:nth-child(1) {
            border-right: 1px solid $secondColor;
        }

        .col-lg-6:nth-child(2) {
            border-left: 1px solid $secondColor;
        }

        @media (max-width: 992px) {
            .col-lg-6:nth-child(1),
            .col-lg-6:nth-child(2) {
                border: 0;
            }
        }
    }

    .answer {
        border: 1px solid #000;
        width: 20%;
        cursor: pointer;
        font-size: 20px;
        text-align: center;
        transition: 500ms;
        padding: 8px;

        span {
            transition: 500ms;
        }

        &:hover {
            background-color: #000;

            span {
                color: #fff;
            }
        }
    }

    .is-answer-correct {
        h3 {
            text-transform: uppercase;
        }
    }

    .buttons-container {
        button {
            color: #fff;
            background-color: $secondColor !important;
            border: none;
            // width: 250px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: 500ms;
            padding: 10px 40px;

            // &:hover {
                // background-color: rgb(161, 161, 161);
            // }

            // span {
                // width: 30px;
                // height: 30px;
                // border-radius: 50%;
                // background-color: green;
                // border: 1px solid gray;
                // justify-self: end;
                // color: #fff;
                // font-weight: 800;
            // }
        }

        // .repeat {
        //     span {
        //         background-color: crimson;
        //     }
        // }
    }

    .programs {
        display: none;
        margin-top: 20px;

        p {
            width: 70%;
            margin: auto;
            font-size: 20px;
        }
    }
}

@keyframes answer {
    50% {
        transform: scale(1.2);
    }
}

@media (max-width: 992px) {
    main {
        .answer {
            width: 80%;
            padding: 15px;
            font-weight: 500;
        }

        .buttons-container {
            button {
                padding: 20px;
                width: 80%;
            }
        }
    }
}