* ::-moz-selection {
  background-color: #000;
  color: #fff;
}

* ::selection {
  background-color: #000;
  color: #fff;
}

body {
  background-color: #c8c8c8 !important;
}

.container {
  background-color: #fff5eb;
  min-height: 100vh;
  max-width: 900px !important;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.container header {
  border-bottom: 3px solid #f67814;
}

.container header a,
.container header a > img {
  width: 80% !important;
}

.container header .col-lg-5 p {
  font-size: 20px;
}

.container header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .container header .col-4 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container header .col-4 a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container header .col-4 img {
    width: 100% !important;
  }
  .container header .col-4 > img {
    width: auto !important;
    height: 50px !important;
  }
  .container header .col-4:nth-child(3) p {
    font-size: 14px;
  }
  .container header .col-4:nth-child(3) h2 {
    font-size: 16px;
  }
}

.container main .test-results-container .false-counter.animate,
.container main .test-results-container .true-counter.animate {
  -webkit-animation: answer 500ms alternate;
          animation: answer 500ms alternate;
}

.container main .test-results-container .col-6 h2 {
  font-size: 50px;
}

.container main .test-results-container .col-6 .bg-danger {
  background-color: #ee0000 !important;
}

.container main .test-results-container .col-6 .bg-danger h4 {
  font-size: 22px;
}

.container main .test-results-container .col-6 .bg-success {
  background-color: #00a100 !important;
}

.container main .test-results-container .col-6 .bg-success h4 {
  font-size: 22px;
}

.container main .test-results-container .col-6:nth-child(1) {
  border-right: 1px solid #f67814;
}

.container main .test-results-container .col-6:nth-child(2) {
  border-left: 1px solid #f67814;
}

@media (max-width: 992px) {
  .container main .test-results-container .col-6:nth-child(1),
  .container main .test-results-container .col-6:nth-child(2) {
    border: 0;
  }
}

.container main .answers {
  -webkit-transition: 500ms;
  transition: 500ms;
}

.container main .answers h3 {
  font-size: 20px;
}

.container main .answers .answer {
  border: 1px solid #000;
  width: 700px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  -webkit-transition: 500ms;
  transition: 500ms;
  padding: 8px;
}

.container main .answers .answer span {
  -webkit-transition: 500ms;
  transition: 500ms;
}

.container main .answers .answer:hover {
  background-color: #faf0a0;
}

.container main .is-answer-correct h3 {
  text-transform: uppercase;
}

.container main .buttons-container button {
  color: #fff;
  background-color: #f67814 !important;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 500ms;
  transition: 500ms;
  padding: 15px 50px;
}

.container main .buttons-container button h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.container main .programs {
  display: none;
  margin-top: 20px;
}

.container main .programs p {
  width: 70%;
  margin: auto;
  font-size: 20px;
}

@-webkit-keyframes answer {
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes answer {
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (max-width: 992px) {
  .container main .test-results-container .bg-danger h4,
  .container main .test-results-container .bg-success h4 {
    font-size: 16px !important;
  }
  .container main .answer {
    max-width: 100% !important;
    padding: 15px;
    font-weight: 500;
  }
  .container main .buttons-container button {
    padding: 20px;
    width: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */